.body{
    background-image: url("https://images.unsplash.com/photo-1506617564039-2f3b650b7010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: 100% 100%;
}

#login {
    float:right;
    margin-bottom:30px;
    font-size:20px;
}

#signUp{
    float:right;
    margin-bottom:30px;
    font-size:20px;
}

#mealPrep{
    font-size: 50px;
    margin: auto;
}

#bottomDiv{
  margin-top:150px;
  text-align: center;
  
}

#finished{
  margin-top:30px;

}

.center{
    text-align: center;
}

.hide, [hidden] {
  display: none !important;
}

